@model IEnumerable<GarbageCollector.Models.Bill>

@{
    ViewBag.Title = "Index";
}

<h2>Your Bill</h2>


<table class="table">
    <caption>You owe us $50.00 per month. Please pay. We have your address and we remove trash for a living.</caption>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Back to Account Manager", "Index", "Manage")
</p>
