@{
    ViewBag.Title = "About us";
}
@{ 
    ViewBag.Message = "Your trash - we take it out.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>There's enough garbage in the world without you becoming part of it. Our fleet of specialists offer you personal & customizable trash removal services.<br /> A service for you. A service for all. <br />We are here to take out the trash.</p>
