@{
    ViewBag.Title = "Home Page";
}

    <h1>華 Waste Management Services</h1>
    <p class="lead">We can all agree the world has too much trash.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Log in &raquo;</a></p>*@

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>