@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>

<p>There's enough garbage in the world without you becoming part of it. Our fleet of specialists offer you personal & customizable trash removal services. A service for you. A service for all.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="form-group">
    @Html.ActionLink("Manage Account", "Index", "Manage", null, new { @class = "btn btn-primary btn-lg" })
</div>