@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>

<p>There's enough garbage in the world without you becoming part of it. Our fleet of specialists offer you personal & customizable trash removal services. A service for you. A service for all.</p>
