@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    420 Green Street<br />
    Milwaukee, WI 53211<br />
    <abbr title="Phone">Phone:</abbr>
    414.420.1234
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:TechSupport@HWMGMTSVC.com">TechSupport@HWMGMTSVC.com</a><br />
    <strong>Customer Service:</strong> <a href="mailto:CustomerService@HWMGMTSVC.com">CustomerService@HWMGMTSVC.com</a>
</address>
<br />