@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    420 Green Street<br />
    Milwaukee, WI 53211<br />
    <abbr title="Phone">Phone:</abbr>
    414.420.1234
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:TechSupport@HWMGMTSVC.com">TechSupport@HWMGMTSVC.com</a><br />
    <strong>Customer Service:</strong> <a href="mailto:CustomerService@HWMGMTSVC.com">CustomerService@HWMGMTSVC.com</a><br />
    <strong>Accounts:</strong>   <a href="mailto:AccountsRecievable@HWMGMTSVC.com">TechSupport@HWMGMTSVC.com</a>
</address>
<br />
<br />
<br />
<div class="form-group">
    @Html.ActionLink("Manage Account", "Index", "Manage", null, new { @class = "btn btn-primary btn-lg" })
</div>
