@{
    ViewBag.Title = "Home Page";
}

<h1>華 Waste Management Services</h1>
<p class="lead">We can all agree the world has too much trash.</p>
@*<p><@Html.ActionLink("Account Manager", "Index", "Manage", new { area = "" }, new { @class = "navbar-brand" })" class="btn btn-primary btn-lg">Log in &raquo;</a></p>*@
<br />
<br />
<br />
<div class="form-group">
        @Html.ActionLink("Manage Account", "Index", "Manage", null, new { @class = "btn btn-primary btn-lg" })
</div>
<br />
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>